<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>购物车演示</title>
    <script src="../../JS/jquery-1.10.2.min.js"></script>
    <script src="../../JS/home/index.js"></script>
    <link href="../../CSS/home/index.css" rel="stylesheet" />
    
</head>
<body>
<div class="pros">
    <div class="pro">
        <div class="pro-img"><img src="../../resources/home-1.jpg"/>
        </div>
        <div class="pro-price">￥4199</div>
        <div class="pro-title">Hisense/海信 LED55EC720US 55吋4K高清智能网络平板液晶电视机50</div>
        <div class="pro-btn"><a href="javascript:;">加入购物车</a>
        </div>
    </div>
    <div class="pro">
        <div class="pro-img">
            <img src="../../resources/home-2.jpg"/>
        </div>
        <div class="pro-price">￥1899</div>
        <div class="pro-title">Changhong/长虹 43N1 43吋液晶电视网络平板电视机wifi高清彩电42</div>
        <div class="pro-btn">
            <a href="javascript:;">加入购物车</a>
        </div>
    </div>

    <div class="pro">
        <div class="pro-img"><img src="../../resources/home-3.jpg"/>
        </div>
        <div class="pro-price">￥2499</div>
        <div class="pro-title">Sharp/夏普 LCD-45T45A 45英寸led液晶网络智能平板电视机</div>
        <div class="pro-btn"><a href="javascript:;">加入购物车</a>
        </div>
    </div>
    <div class="pro">
        <div class="pro-img"><img src="../../resources/home-4.jpg"/>
        </div>
        <div class="pro-price">￥3399</div>
        <div class="pro-title">Philips/飞利浦55PUF6031/T3 55英寸电视4k液晶平板智能 电视</div>
        <div class="pro-btn"><a href="javascript:;">加入购物车</a>
        </div>
    </div>
    <div class="pro">
        <div class="pro-img"><img src="../../resources/home-5.jpg"/>
        </div>
        <div class="pro-price">￥1999</div>
        <div class="pro-title">Konka/康佳 LED40S1 40英寸高清智能WIFI网络平板液晶电视机42 43 </div>
        <div class="pro-btn"><a href="javascript:;">加入购物车</a>
        </div>
    </div>
    <div class="pro">
        <div class="pro-img"><img src="../../resources/home-6.jpg"/>
        </div>
        <div class="pro-price">￥3799</div>
        <div class="pro-title">Skyworth/创维 55V9E 55吋4K超高清智能网络平板LED液晶电视机 50 </div>
        <div class="pro-btn"><a href="javascript:;">加入购物车</a>
        </div>
    </div>
</div>
<div id="cart">
    <div id="cart-num">0</div>
    <div id="cart-img"><img src="../../resources/home-cart.jpg"/>
    </div>
</div>

</body>
</html>
